In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('chicago.csv')

In [5]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

**该数据集中有哪些列？**

In [6]:
df.columns

Index(['Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
Start Time       400 non-null object
End Time         400 non-null object
Trip Duration    400 non-null int64
Start Station    400 non-null object
End Station      400 non-null object
User Type        400 non-null object
Gender           330 non-null object
Birth Year       330 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.1+ KB

**该数据集中哪些列有缺失值?**

In [31]:
df['Gender'].unique()

array(['Male', nan, 'Female'], dtype=object)

In [42]:
df['Gender'].value_counts().sum()

330

In [37]:
df['Birth Year'].unique()

array([1991.,   nan, 1982., 1966., 1983., 1981., 1986., 1969., 1963.,
       1990., 1979., 1972., 1957., 1962., 1965., 1987., 1985., 1974.,
       1994., 1984., 1993., 1980., 1964., 1961., 1975., 1949., 1967.,
       1989., 1997., 1992., 1995., 1988., 1950., 1978., 1956., 1953.,
       1954., 1971., 1976., 1970., 1977., 1973., 1952., 1998., 1959.,
       1968., 1955., 1960., 1999., 1958.])

In [43]:
df['Birth Year'].value_counts().sum()

330

In [44]:
df['Start Station'].value_counts().sum()

400

In [45]:
df['End Station'].value_counts().sum()

400