In [2]:
import pandas as pd

In [3]:
filename = 'chicago.csv'

In [4]:
# load data file into a dataframe
df = pd.read_csv(filename)

In [5]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [6]:
# extract hour from the Start Time column 
# to create a hour column
df['hour'] = df['Start Time'].dt.hour

In [7]:
# extract month from the Start Time column to create a month column
df['month'] = df['Start Time'].dt.month

In [8]:
# extract day from the Start Time column to create a day of week 
df['day_of_week'] = df['Start Time'].dt.weekday_name

In [9]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour,month,day_of_week
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0,18,5,Monday
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN,19,6,Monday
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0,17,2,Monday
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0,18,4,Monday
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0,15,1,Thursday

In [10]:
months = ['january', 'february', 'march', 'april', 'may', 'june']

In [11]:
month = months.index('march') + 1

In [12]:
month

3

In [13]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour,month,day_of_week
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0,18,5,Monday
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN,19,6,Monday
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0,17,2,Monday
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0,18,4,Monday
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0,15,1,Thursday

In [16]:
df = df[df['month'] == month]

In [17]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour,month,day_of_week
7,2017-03-21 07:23:58,2017-03-21 07:33:17,559,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1969.0,7,3,Tuesday
11,2017-03-09 09:15:39,2017-03-09 09:18:56,197,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Male,1986.0,9,3,Thursday
12,2017-03-22 06:54:00,2017-03-22 06:59:02,302,Larrabee St & Division St,Clark St & Elm St,Subscriber,Female,1990.0,6,3,Wednesday
14,2017-03-13 13:19:26,2017-03-13 13:27:35,489,LaSalle St & Washington St,Sangamon St & Washington Blvd (*),Subscriber,Male,1972.0,13,3,Monday
31,2017-03-29 06:57:27,2017-03-29 07:03:21,354,Oakley Ave & Irving Park Rd,Talman Ave & Addison St,Subscriber,Male,1979.0,6,3,Wednesday

In [29]:
# find the most common hour (from 0 to 23)
popular_hour = df['hour'].mode()[0]

In [30]:
popular_hour

17