In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('chicago.csv')

In [5]:
df.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0

In [6]:
df.columns

Index(['Start Time', 'End Time', 'Trip Duration', 'Start Station',
       'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
Start Time       400 non-null object
End Time         400 non-null object
Trip Duration    400 non-null int64
Start Station    400 non-null object
End Station      400 non-null object
User Type        400 non-null object
Gender           330 non-null object
Birth Year       330 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.1+ KB

In [10]:
df['User Type'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Subscriber
1        Customer
2      Subscriber
3      Subscriber
4      Subscriber
5      Subscriber
6      Subscriber
7      Subscriber
8        Customer
9      Subscriber
10     Subscriber
11     Subscriber
12     Subscriber
13     Subscriber
14     Subscriber
15     Subscriber
16     Subscriber
17     Subscriber
18     Subscriber
19     Subscriber
20     Subscriber
21     Subscriber
22     Subscriber
23     Subscriber
24     Subscriber
25     Subscriber
26       Customer
27     Subscriber
28     Subscriber
29     Subscriber
          ...
370    Subscriber
371    Subscriber
372    Subscriber
373    Subscriber
374      Customer
375    Subscriber
376    Subscriber
377      Customer
378    Subscriber
379    Subscriber
380    Subscriber
381    Subscriber
382    Subscriber
383      Customer
384      Customer
385    Subscriber
386    Subscriber
387    Subscriber
388      Customer
389    Subscriber
390    Subscriber
391    Subscriber
392      Customer
393    Subscriber
394    Subscriber
395    Subscriber
396    Subscriber
397      Customer
398    Subscriber
399    Subscriber
Name: User Type, Length: 400, dtype: object>